# edit and save this file to /usr/lib/systemd/system/clash.service
[Unit]
Description=clash
After=network.target

[Service]
WorkingDirectory=/home/shizuku/.config/clash
ExecStart=/home/shizuku/.config/clash/start-clash.sh
ExecStop=/home/shizuku/.config/clash/stop-clash.sh
Environment="HOME=/home/shizuku/"

[Install]
WantedBy=multi-user.target
